<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="tittle"> HOME</ion-title><br>
    <ion-segment (ionChange)="segmentChanged($event)" value="experiencia-laboral">
      <ion-segment-button value="experiencia-laboral">
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-label>Experiencia Laboral</ion-label>
      </ion-segment-button>
      <ion-segment-button value="certificaciones">
        <ion-icon name="school-outline"></ion-icon>
        <ion-label>Certificaciones</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item style="padding-top: 20px;">
    <ion-toolbar>
      <ion-title class="center-title">
        ¡Bienvenido!
      </ion-title>
      Usuario: {{ nombre }}
    </ion-toolbar>
  </ion-item>
  <form (ngSubmit)="submitForm()">
    <div class="example-container">
      <ion-input class="ion1" label="Nombre" label-placement="floating" fill="solid" placeholder="Ingrese" [(ngModel)]="nombre" name="nombre"></ion-input>
      <br>
    </div>
    <div class="example-container">
      <ion-input class="ion1" label="Apellido" label-placement="floating" fill="solid" placeholder="Ingrese"></ion-input>
      <br>
    </div>
    <ion-button type="submit" class="botONE" [routerLink]="['/otro']">Ingrese</ion-button>
  </form>

  <div [ngSwitch]="selectedSegment">
    <app-experiencia-laboral *ngSwitchCase="'experiencia-laboral'"></app-experiencia-laboral>
    <app-certificaciones *ngSwitchCase="'certificaciones'"></app-certificaciones>
  </div>
  <section>
    <div class="example-button-row">
      <a mat-flat-button color="basic" [routerLink]="['/otro']">¡¡Vamos!!</a>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </section>
  
</ion-content>
